@import "src/assets/styles/_common.scss";

/* Form Position */

.upload-form {
    margin: 32px auto;
}

/* Form Layout */

.upload-form {
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-gap: 16px;

    width: 400px;
}

.upload-form-input {
    grid-column: 2;
}
