<main class="grid">
    <section class="grid-section grid-left">
        <h1 class="grid-header">Taxonomy</h1>
        <Taxonomy class="grid-content"
                  :nodes="nodes"
                  :selected-node="selectedNode"
                  :new-node-parent-selected="newNodeParentSelected"
                  :new-node-parent="newNodeParent"
                  @select="selectNode($event)"
                  @createNode="showCreateNode($event)"/>
    </section>

    <section v-if="newNodeParentSelected"
             class="grid-section grid-top-right">
        <h1 class="grid-header">New Node</h1>
        <NewNode class="grid-content"
                 @createNode="createNode($event)"/>
    </section>

    <section v-if="selectedNode"
             class="grid-section grid-top-right">
        <h1 class="grid-header">Node Details</h1>
        <NodeDetails class="grid-content"
                     :node="selectedNode"
                     @createEntity="createEntity($event)"
                     @deleteEntity="deleteEntity($event)"
                     @deleteNode="deleteNode($event)"/>
    </section>

    <section v-if="selectedNode"
             class="grid-section grid-bottom-right">
        <h1 class="grid-header">Matches</h1>
        <Matches class="grid-content"
                 :node="selectedNode"/>
    </section>
</main>
