<div>

    <!-- Entities -->

    {{ entityNames.length }}
    {{ entityNames.length === 1 ? 'Entity' : 'Entities' }}:

    <ul class="entity-list">
        <li v-for="(entityName, index) of entityNames" :key="index">
            {{ entityName }}

            <button class="delete-button" @click="entityNames.splice(index, 1)">
                Delete
            </button>
        </li>

        <li>
            <input @change="addEntityName($event)"
                   placeholder="New Entity"

            /> <button class="create-button d-inline-block"
                       @click="addEntityName(entity.id)">
                Add
            </button>
        </li>
    </ul>

    <!-- Create Node Button -->

    <button class="create-button mt-16"
            :class="[entityNames.length > 0 ? 'create-button' : 'disabled-button']"
            :disabled="entityNames.length === 0"
            @click="$emit('createNode', entityNames)">
        Create Node
    </button>
</div>
