@import "src/assets/styles/_variables.scss";

/* Border */

.grid {
  border: 1px solid $grey;
}

/* Grid Layout */

.grid {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: auto;
  grid-template-areas:
    "grid-candidate-header  grid-predictions-header"
    "grid-candidate         grid-predictions       "
    "grid-footer            grid-footer            ";
}

.grid-candidate-header {
  grid-area: grid-candidate-header;
}

.grid-predictions-header {
  grid-area: grid-predictions-header;
}

.grid-candidate {
  grid-area: grid-candidate;
}

.grid-predictions {
  grid-area: grid-predictions;
}

.grid-footer {
  grid-area: grid-footer;
}

.grid > * {
  padding: 8px;
}

/* Header */

.grid-candidate-header,
.grid-predictions-header {
  background-color: $light-grey;
  border-bottom: 1px solid $grey;
}

.grid-predictions-header {
  border-left: 1px solid $grey;
}

/* Main */

.grid-candidate,
.grid-predictions{
  overflow-y: auto;
}

.grid-predictions {
  border-left: 1px solid $grey;
}

/* Main - Candidate Text */

.token {
  cursor: pointer;
}

.marked {
  color: $orange;
  font-weight: bold;
}

/* Main - Predictions */

h1 {
  font-size: 1em;
}

table * {
  vertical-align: top;
}

table td:not(:first-child) {
  padding-left: 8px;
}

table td:not(.selected) {
  cursor: pointer;
}

.selected {
  color: $orange;
  font-weight: bold;
}

/* Footer */

footer {
  background-color: $light-grey;
  border-top: 1px solid $grey;
}

.flex {
  display: flex;
}

.space {
  flex-grow: 1;
}

button {
  background-color: $white;

  cursor: pointer;
}

#dismiss-button {
  color: $red;
  border: 1px solid $red;
}

#annotate-button {
  margin-left: 8px;

  color: $green;
  border: 1px solid green;
}

#annotate-button:disabled {
  color: $grey;
  border: 1px solid grey;

  cursor: default;
}
