@import "src/assets/styles/_variables.scss";

.prediction-card {
    border: 1px solid grey;
}

/* Flex Layout */

.flex {
    display: flex;
    justify-content: space-between;
}

.flex > div {
    padding: 8px;
}

.candidate {
    flex-grow: 1;
    overflow-y: auto;
}

.predictions {
    flex: 0 0 200px;
    overflow-y: auto;

    border-left: 1px solid grey;
}

/* Candidate Text */

.token {
    cursor: pointer;
}

.marked {
    color: $orange;
    font-weight: bold;
}

/* Headers */

h1 {
    font-size: 1em;
}

/* Table */

table * {
    vertical-align: top;
}

table td:not(:first-child) {
    padding-left: 8px;
}

/* Selected Node */

.selected {
    font-weight: bold;
    color: $orange;
}

/* Footer */

footer {
    display: flex;

    padding: 6px;

    background-color: $light-grey;
    border-top: 1px solid grey;
}

.space {
    flex-grow: 1;
}

button {
    background-color: $white;

    cursor: pointer;
}

#dismiss-button {
    color: $red;
    border: 1px solid $red;
}

#annotate-button {
    margin-left: 8px;

    color: $green;
    border: 1px solid green;
}
