* {
    margin: 0;
}

.app {
    font-family: Helvetica, Arial, sans-serif;
}

/* App Layout */

.app {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

.app main {
    flex-grow: 1;
}

/* Grid */

.grid {
    display: grid;
    grid-template-areas:
    "left top-right"
    "left bottom-right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 32px;

    max-width: 1000px;
    margin: auto;
    padding: 16px;
}

.grid-content {
    padding: 16px;
}

.grid-left {
    grid-area: left;
}

.grid-top-right {
    grid-area: top-right;
}

.grid-bottom-right {
    grid-area: bottom-right;
}

.grid-header {
    padding: 16px;
    color: grey;
    border-bottom: 1px solid grey;
    text-align: center;
}
