@import "src/assets/styles/_variables.scss";

/* List bullets */

ul {
    list-style-type: none;
}

.marker {
    display: inline-block;
    width: 1em;
    text-align: center;
    margin-right: 0.5em;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    font-weight: bold;
}

.cursor-default {
    cursor: default;
}

/* Node Name */

.node-name {
    cursor: pointer;
}

.node-name:hover:not(.selected) {
    color: $light-orange;
}

.selected {
    font-weight: bold;
    color: $orange;
    cursor: default;
}
