@import "src/assets/styles/_variables.scss";

.node-name {
    cursor: pointer;
}

/* List bullets */

ul {
    list-style-type: initial;
}

li::marker {
    content: '•  ';
}

li.extendable::marker {
    content: '+  ';
}

li.extended::marker {
    content: '-  ';
}

/* Selected */

.selected {
    font-weight: bold;
    color: $orange;
}
