@import "src/assets/styles/_variables.scss";

.node-name {
    cursor: pointer;
}

/* List bullets */

ul {
    list-style-type: none;
}

.marker {
    display: inline-block;
    width: 1em;
    text-align: center;
    margin-right: 0.5em;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

/* Selected */

.selected {
    font-weight: bold;
    color: $orange;
}
