<div v-if="node">

    <!-- Matches -->

    <section>
        <table>
            <tr>
                <th>Matches</th>
                <td>{{ shallowNodeMatches }}</td>
            </tr>
            <tr>
                <th>Child Matches</th>
                <td>{{ shallowNodeMatches - deepNodeMatches }}</td>
            </tr>
            <tr>
                <th></th>
                <td style="border-top: 1px solid grey">
                    {{ deepNodeMatches }}
                </td>
            </tr>
        </table>
    </section>

    <!-- Entities -->

    <section>
        Entities ({{ node.entities.length }})

        <ul class="entity-list">
            <li v-for="entity of node.entities" :key="entity.id">
                {{ entity.name }}

                <span>({{ entity.matchesCount }} {{ entity.matchesCount === 1 ? 'match' : 'matches' }})</span>

                <button class="delete-button" @click="deleteEntity(entity.id)">
                    Delete
                </button>
            </li>

            <li>
                <input @change="createEntity($event)"
                       placeholder="New Entity">

                <button class="create-button" @click="deleteEntity(entity.id)">
                    Add
                </button>
            </li>
        </ul>
    </section>

    <!-- Predictions -->

    <section>
        Predicted
        <table>
            <tr>
                <th>&nbsp;&nbsp;&nbsp;Synonyms</th>
                <td>987</td>
            </tr>
            <tr>
                <th>&nbsp;&nbsp;&nbsp;Children</th>
                <td>1234</td>
            </tr>
        </table>
        <a href="google.com">Show Predictions</a>
    </section>

    <!-- Delete Node -->

    <section>
        <button class="delete-button"
                @click="$emit('deleteNode', node)">
            Delete Node
        </button>

        <button class="create-button"
                @click="$emit('deleteNode', node)">
            Add Child Node
        </button>
    </section>

</div>
