<div v-if="node">

    <main>

        <!-- Matches -->

        <h1>Matches</h1>
        <section>
            <table>
                <tr>
                    <th>Direct</th>
                    <td>{{ shallowNodeMatches }}</td>
                </tr>
                <tr>
                    <th>Children</th>
                    <td>{{ shallowNodeMatches - deepNodeMatches }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td style="border-top: 1px solid grey">
                        {{ deepNodeMatches }}
                    </td>
                </tr>
            </table>
        </section>

        <!-- Entities -->

        <h1>Entities ({{ node.entities.length }})</h1>
        <section>
            <ul>
                <li v-for="entity of node.entities" :key="entity.id">
                    {{ entity.name }}

                    <span class="matches-count">
                        ({{ entity.matchesCount }}&nbsp;{{ entity.matchesCount === 1 ? 'match' : 'matches' }})
                    </span>

                    <button class="delete-button" @click="deleteEntity(entity.id)">
                        Delete
                    </button>
                </li>

                <li>
                    <input style="display: inline" @change="createEntity($event)"
                           placeholder="New Entity"

                    /> <button style="display: inline"  class="create-button" @click="deleteEntity(entity.id)">
                        Add
                    </button>
                </li>
            </ul>
        </section>

        <!-- Predictions -->

        <h1>Predictions</h1>
        <section class="predictions">
            <table>
                <tr>
                    <th>Synonyms</th>
                    <td>987</td>
                </tr>
                <tr>
                    <th>Children</th>
                    <td>1234</td>
                </tr>
            </table>

            <router-link class="d-inline-block mt-8"
                         :to="`/predictions/${node.id}`">
                Show Predictions
            </router-link>
        </section>

        <!-- Node Buttons -->

        <h1>Topology</h1>
        <section>
            <button class="delete-button"
                    @click="$emit('deleteNode', node)">
                Delete Node
            </button>

            <button class="create-button ml-8"
                    @click="$emit('deleteNode', node)">
                Add Child Node
            </button>
        </section>
    </main>

</div>
