/* Sections */

section:not(:first-child) {
    margin-top: 16px;
}

/* Matches Table */

table {
    border-collapse: collapse;
}

table th {
    width: 160px;
    font-weight: normal;
    text-align: left;
}

table td {
    width: 60px;
    text-align: right;
}

/* Delete Entity */

.delete-entity {
    color: lightgrey;
    cursor: pointer;
}

.delete-entity:hover {
    color: grey;
}

/* Buttons */

.delete-button {
    color: #b3010b;
    background-color: inherit;
    border: 1px solid #b3010b;
}

.create-button {
    color: #196b00;
    background-color: inherit;
    border: 1px solid #196b00;
}

/* Node Buttons */

button:not(:first-child) {
    margin-left: 8px;
}
