/* Grid */

main {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 24px;
}

main h1 {
    font-size: 1em;
}

/* Matches Table */

table {
    border-collapse: collapse;
}

table th {
    width: 160px;
    font-weight: normal;
    text-align: left;
}

table td {
    width: 60px;
    text-align: right;
}

/* Entities */

.matches-count {
    color: grey;
}

/* Buttons */

.delete-button {
    color: #b3010b;
    background-color: inherit;
    border: 1px solid #b3010b;
}

.create-button {
    color: #196b00;
    background-color: inherit;
    border: 1px solid #196b00;
}

/* Predictions Link */

.predictions a {
    display: block;
    margin-top: 8px;
}

/* Node Buttons */

.mt-24 {
    margin-top: 24px;
}
