p {
    padding-top: 8px;
    padding-bottom: 8px;
}

.entity-list {
    padding-left: 1.5em;
}

/* Delete Link */

.delete-entity {
    color: lightgrey;
    cursor: pointer;
}

.delete-entity:hover {
    color: grey;
}

/* Delete Button */

.delete-node {
    margin-top: 16px;
}
