<Loading :class="[showLoadingGetNodes ? 'd-initial' : 'd-none']"
         message="Loading nodes..."/>

<Loading :class="[showLoadingPostNode ? 'd-initial' : 'd-none']"
         message="Creating node..."/>

<Loading :class="[showLoadingDeleteNode ? 'd-initial' : 'd-none']"
         message="Deleting node..."/>

<Loading :class="[showLoadingPostEntity ? 'd-initial' : 'd-none']"
         message="Creating entity..."/>

<Loading :class="[showLoadingDeleteEntity ? 'd-initial' : 'd-none']"
         message="Deleting entity..."/>

<main class="grid">

    <!-- Taxonomy -->

    <section class="grid-section grid-left">
        <h1 class="grid-header">Taxonomy</h1>
        <Taxonomy class="grid-content"
                  :rootNodes="rootNodes"
                  :selectedNode="selectedNode"
                  @select="selectNode($event)"
                  @createNode="showCreateRootNode"/>
    </section>

    <!-- New Node -->

    <section v-if="creatingNewNode"
             class="grid-section grid-top-right">
        <h1 class="grid-header">New Node</h1>
        <NewNode class="grid-content"
                 @createNode="createNode($event)"/>
    </section>

    <!-- Node Details -->

    <section v-if="!creatingNewNode && selectedNode"
             class="grid-section grid-top-right">
        <h1 class="grid-header">Node Details</h1>
        <NodeDetails class="grid-content"
                     :node="selectedNode"
                     @createEntity="createEntity($event)"
                     @deleteEntity="deleteEntity($event)"
                     @createNode="showCreateNode"
                     @deleteNode="deleteNode($event)"/>
    </section>

    <!-- Matches -->

    <section v-if="selectedNode"
             class="grid-section grid-bottom-right">
        <h1 class="grid-header">Matches</h1>
        <Matches class="grid-content"
                 :node="selectedNode"/>
    </section>
</main>
