<LoadingOverlay :class="[showLoading ? 'd-initial' : 'd-none']"
                :message="loadingMessages.join('\n')"/>

<main class="page-grid">

    <!-- Taxonomy -->

    <section class="grid-section grid-left">
        <h1 class="grid-header">Taxonomy</h1>
        <Taxonomy class="grid-content"
                  :rootNodes="rootNodes"
                  :selectedNode="selectedNode"
                  @select="selectNode($event)"
                  @createNode="showCreateRootNode"/>
    </section>

    <section class="grid-section grid-top-right">

        <!-- New Node -->

        <template v-if="creatingNewNode">
            <h1 class="grid-header">New Node</h1>
            <NewNode class="grid-content"
                     @createNode="createNode($event)"/>
        </template>

        <!-- Node Details -->

        <template v-if="!creatingNewNode && selectedNode">
            <h1 class="grid-header">Node Details</h1>
            <NodeDetails class="grid-content"
                         :node="selectedNode"
                         @createEntity="createEntity($event)"
                         @deleteEntity="deleteEntity($event)"
                         @createNode="showCreateNode"
                         @deleteNode="deleteNode($event)"/>
        </template>
    </section>

    <!-- Matches -->

    <section class="grid-section grid-bottom-right">
        <template v-if="selectedNode">
            <h1 class="grid-header">Matches</h1>
            <Matches class="grid-content"
                     :node="selectedNode"/>
        </template>
    </section>
</main>
